/* ==========================
   RESET GENERAL
========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root{

    --color-fondo:#0f172a;
    --color-superficie:#1e293b;
    --color-principal:#2196f3;
    --color-texto:#f8fafc;
    --color-texto-secundario:#cbd5e1;
    --color-borde:#334155;

}

/* ==========================
   ESTILOS GENERALES
========================== */

body{

    font-family:"Poppins", sans-serif;

    background:var(--color-fondo);

    color:var(--color-texto);

    line-height:1.6;

}

/* ==========================
   HEADER
========================== */

header{

    background:#111827;

    position:sticky;

    top:0;

    width:100%;

    z-index:1000;

}

nav{

    display:flex;

    justify-content:space-between;

    align-items:center;

    max-width:1200px;

    margin:auto;

    padding:20px;

}

.logo{

    color:white;

    font-size:30px;

    cursor:pointer;

}

nav ul{

    display:flex;

    list-style:none;

    gap:25px;

}

nav a{

    color:white;

    text-decoration:none;

    font-weight:bold;

    transition:.3s;

    position:relative;

}

nav a:hover{

    color:#00bcd4;

}

nav a::after{

    content:"";

    position:absolute;

    left:0;

    bottom:-6px;

    width:0;

    height:2px;

    background:var(--color-principal);

    transition:.3s;

}

nav a:hover::after{

    width:100%;

}

/* ==========================
   HERO
========================== */

.hero{

    min-height:90vh;

    display:flex;

    justify-content:space-between;

    align-items:center;

    max-width:1200px;

    margin:auto;

    padding:60px 20px;

}

.hero-texto{

    flex:1;

    animation:aparecerIzquierda 1s ease;

}

.hero-imagen img{

    width:350px;

    height:350px;

    object-fit:cover;

    border-radius:50%;

    border:6px solid var(--color-principal);

    transition:.3s;

}

.hero-imagen img:hover{

    transform:scale(1.05);

}

.hero-imagen{

    flex:1;

    display:flex;

    justify-content:center;

    animation:aparecerDerecha 1s ease;

}

.hero h1{

    font-size:28px;

    color:var(--color-principal);

}

.hero h2{

    font-size:64px;

    font-weight:700;

    line-height:1.1;

    margin:15px 0;

}

.hero h3{

    font-size:30px;

    color:var(--color-texto-secundario);

    margin-bottom:25px;

}

.hero p{

    font-size:18px;

    margin-bottom:35px;

    max-width:600px;

}

.boton{

    display:inline-block;

    background:var(--color-principal);

    color:white;

    padding:15px 35px;

    text-decoration:none;

    border-radius:8px;

    font-weight:bold;

    transition:all .3s ease;

    cursor:pointer;

}

.boton:hover{

    background:#1565c0;

    transform:translateY(-3px);

}

/* ==========================
   SOBRE MÍ
========================== */

.sobre-mi{

    max-width:900px;

    margin:100px auto;

    padding:20px;

    text-align:center;

}

.sobre-mi h2{

    font-size:42px;

    margin-bottom:25px;

}

.sobre-mi h3{

    font-size:32px;

    margin-bottom:25px;

}

.introduccion{

    font-size:18px;

    line-height:1.8;

    margin-bottom:40px;

}

.habilidades-personales{

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:20px;

    margin-bottom:40px;

}

.item{

    background:var(--color-principal);

    padding:15px;

    border-radius:8px;

    font-weight:bold;

    transition:.3s;

}

.item:hover{

    transform:translateY(-5px);

}

/* ==========================
   PROYECTOS
========================== */

.proyectos{

    max-width:1200px;

    margin:100px auto;

    padding:20px;

}

.proyectos h2{

    text-align:center;

    font-size:42px;

    margin-bottom:50px;

}

.contenedor-proyectos{

    display:flex;

    gap:30px;

    justify-content:center;

    flex-wrap:wrap;

}

.tarjeta-proyecto{

    background:var(--color-superficie);

    border-radius:12px;

    overflow:hidden;

    width:350px;

    box-shadow:0 5px 15px rgba(0,0,0,.1);

    transition:.3s;

    display:flex;

    flex-direction:column;

    justify-content:space-between;

}

.tarjeta-proyecto:hover{

    transform:translateY(-8px);

}

.proyecto-imagen img{

    width:100%;

    height:150px;

    object-fit:cover;

}

.proyecto-info{

    padding:20px;

}

.proyecto-info h3{

    margin-bottom:15px;

}

.proyecto-info p{

    margin-bottom:20px;

}

.proyecto-info span{

    color:var(--color-principal);

    font-weight:bold;

}

.proyecto-botones{

    
    display:flex;

    gap:12px;

    justify-content:space-between;

    padding:20px;

}

.boton-secundario{

    background:transparent;

    border:2px solid var(--color-principal);

    color:white;

}

.boton-secundario:hover{

    background:var(--color-principal);

    color:white;

}

.proyecto-botones .boton{

    padding:10px 18px;

    font-size:16px;

}

/* ==========================
   HABILIDADES
========================== */

.habilidades{

    max-width:1200px;

    margin:100px auto;

    padding:20px;

}

.habilidades h2{

    text-align:center;

    font-size:42px;

    margin-bottom:50px;

}

.contenedor-habilidades{

    display:flex;

    gap:60px;

    justify-content:space-between;

    flex-wrap:wrap;

}

.habilidades-tecnicas,
.habilidades-blandas{

    flex:1;

    min-width:320px;

}

.habilidades h3{

    margin-bottom:25px;

    color:var(--color-principal);

}

.habilidad{

    margin-bottom:20px;

}

.barra{

    width:100%;

    height:12px;

    background:#334155;

    border-radius:20px;

    overflow:hidden;

    margin-top:8px;

}

.nivel{

    height:100%;

    background:var(--color-principal);

    border-radius:20px;

}

.html{

    width:85%;

}

.css{

    width:80%;

}

.js{

    width:60%;

}

.git{

    width:65%;

}

.github{

    width:70%;

}

.habilidades-blandas ul{

    list-style:none;

}

.habilidades-blandas li{

    background:var(--color-superficie);

    margin-bottom:15px;

    padding:15px;

    border-radius:10px;

    box-shadow:0 5px 10px rgba(0,0,0,.08);

}

/* ==========================
   CONTACTO
========================== */

.contacto{

    max-width:900px;

    margin:100px auto;

    text-align:center;

    padding:20px;

}

.contacto h2{

    font-size:42px;

    margin-bottom:25px;

}

.contacto-texto{

    margin-bottom:40px;

    font-size:18px;

}

.contacto-card{

    background:var(--color-superficie);

    padding:40px;

    border-radius:15px;

    box-shadow:0 5px 15px rgba(0,0,0,.1);

}

.contacto-card p{

    margin-bottom:20px;

    font-size:18px;

}

/* ==========================
   ANIMACIONES
========================== */

@keyframes aparecerIzquierda{

    from{

        opacity:0;
        transform:translateX(-60px);

    }

    to{

        opacity:1;
        transform:translateX(0);

    }

}

@keyframes aparecerDerecha{

    from{

        opacity:0;
        transform:translateX(60px);

    }

    to{

        opacity:1;
        transform:translateX(0);

    }

}

/* ==========================
   FOOTER
========================== */

.footer{

    background:#111827;

    margin-top:100px;

    padding:50px 20px;

    text-align:center;

}

.footer h3{

    color:var(--color-principal);

    margin-bottom:10px;

}

.footer p{

    color:var(--color-texto-secundario);

}

.footer-redes{

    margin:30px 0;

    display:flex;

    justify-content:center;

    gap:25px;

    flex-wrap:wrap;

}

.footer-redes a{

    color:white;

    text-decoration:none;

    transition:.3s;

}

.footer-redes a:hover{

    color:var(--color-principal);

}

.copyright{

    margin-top:30px;

    font-size:.9rem;

}

/* ==========================
   RESPONSIVE
========================== */

@media (max-width: 768px){

    .hero{

        flex-direction: column;

        text-align: center;

        gap: 40px;

        padding: 40px 20px;

    }

    .hero-texto{

        order: 2;

    }

    .hero-imagen{

        order: 1;

    }

    .hero-imagen img{

        width: 250px;

        height: 250px;

    }

    .hero h2{

        font-size: 42px;

    }

    .habilidades-personales{

        grid-template-columns:1fr;

    }

    .contenedor-proyectos{

        flex-direction:column;

        align-items:center;

    }

    .contenedor-habilidades{

        flex-direction:column;

    }

}